{% extends "base.html" %}
{% block conteudo %}

<Br>
<Br>
<Br>
<Br>
            <div class="container">
                <div class="row justify-content-center">
                    <form method="post" action="/addProduto" class="col-sm-10 col-md-8 col-lg-6" enctype="multipart/form-data">
                        <h1>Adicionar Produtos</h1>

                        <div class="form-floating mb-3">
                            <input type="text" id="nome" name="nome" class="form-control" placeholder=" " autofocus>
                            <label for="">Nome</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="nome" id="estoque" name="estoque" class="form-control" placeholder=" " autofocus>
                            <label for="">Estoque</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="nome" id="preco" name="preco" class="form-control" placeholder=" " autofocus>
                            <label for="">Preço</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="nome" id="descricao" name="descricao" class="form-control" placeholder=" " autofocus>
                            <label for="">Descrição</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="file" placeholder="Selecione uam imagem" id="imagem" name="imagem" accept="image/*" required><br><br>
                        </div>
                    <div class="form-floating mb-3">
                        <select name="categoria" class="">
                            {% for c in categorias%}
                            <option value="{{c.id}}">{{c.nome}}</option>
                            {% endfor %}
                        </select>
                    </div>

                        <button type="submit" class="btn btn-lg btn-danger">criar</button>     
                    </form>
                </div>
            </div>
            <Br>
                <Br>
                <Br>
                <Br>
                    <Br>
                        <Br>
            {% endblock %}