{% extends "base.html" %}
{% block conteudo %}

<Br>
<Br>
<Br>
<Br>
        <main class="flex-fill">
            <div class="container">
                <h1>Admin Area</h1>
                <hr>
                <form class="mt-3">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <fieldset class="row gx-3">
                                <legend>Produtos:</legend>
<br><br>
<br><br>
<br><br>
                    </div>
                    <div class="mb-3 text-center">
                        <a  style="width: 500px; height: 70px; font-size: 30px;" class=" btn btn-lg btn-light btn-outline-primary" href="/admprodutoadd">Adicionar Produtos</a>
                      <br>
                      <br>
                      <br>
                      <br>
                        <a style="width: 500px; height: 70px; font-size: 30px;" class="btn btn-lg btn-light btn-outline-primary" href="/admprodutoalt">Alterar Produtos</a>
                      <br>
                      <br>
                      <br>
                      <br>
                      <a  style="width: 500px; height: 70px; font-size: 30px;" class="btn btn-lg btn-light btn-outline-primary" href="/admprodutodel">Remover Produtos</a>
                      

                    </div>
                </form>
            </div>
        </main>
        {% endblock %}