{% extends "base.html" %}
{% block conteudo %}
  
<main class="Back flex-fill" >
  <div class="container bg-found shadow p-3 formulario">
    <div class="row">
      <div class="col-md-6 offset-md-3">
          <form method="post">
          <h1 class="text-center text-dark">Cadastro</h1>
          <div class="form-group">
            
            <div class="form-group">
              <label class="text-dark" for="Nome">Nome</label>
              <input type="text" class="form-control" id="Nome" name="Nome" placeholder="Digite seu Nome"required>
            </div>

            <label class="text-dark" for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email" required>
          </div>
          
          
          <div class="form-group">
            <label class="text-dark" for="Senha">Senha</label>
            <input type="password" class="form-control" id="Senha" placeholder="Digite sua senha" name="Senha" required>
          </div>
          <div class="form-group">
            <label class="text-dark" for="ConfirmarSenha">Confirma sua Senha</label>
            <input type="password" class="form-control" id="ConfirmarSenha" placeholder="Confirme sua senha" name="ConfirmarSenha" required>
          </div>
          <div class="text-center">
            <h4>ou</h4>
            <a href="/login" class="ForgotPass1">Faça o Login</a>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>


 {% endblock %}