{% extends "base.html" %}
{% block conteudo %}
  
<main class="Back flex-fill" >
  <div class="container bg-found shadow p-3 formulario">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center h-100px">
        <h1>Sua conta foi criada com</h1>
        <div class="bg-success text-white p-3 rounded mb-3">
          <h2 class="text-break">Sucesso!</h2>
        </div>
        <a href="/login" class="ForgotPass1">Agora, Faça o Login!</a>
      </div>
    </div>
  </div>
</main>

 {% endblock %}