{% extends "base.html" %}
{% block conteudo %}

        <main class="flex-fill">
            <div class="container">
                <div class="row g-3">
                    <div class="col-12 col-sm-6">
                        <img src="/static/img/{{produto.imgProduto}}" class="img-thumbnail" id="imgProduto">
                        <br class="clearfix">
                        <div class="row my-3 gx-3">
                            <div class="col-3">
                                <img src="/static/img/{{produto.imgProduto}}" class="img-thumbnail" onclick="trocarImagem(this)">
                            </div>
                            <div class="col-3">
                                <img src="/static/img/{{produto.imgProduto}}" class="img-thumbnail" onclick="trocarImagem(this)">
                            </div>
                            <div class="col-3">
                                <img src="/static/img/{{produto.imgProduto}}" class="img-thumbnail" onclick="trocarImagem(this)">
                            </div>
                            <div class="col-3">
                                <img src="/static/img/{{produto.imgProduto}}" class="img-thumbnail" onclick="trocarImagem(this)">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <h1>{{produto.nome}}</h1>
                        <p>
                            {{produto.descricao}}
                        </p>
                        <p>
                            Do ut ad quis et qui qui tempor do irure laborum ullamco excepteur. Adipisicing ipsum ad
                            excepteur sit ipsum adipisicing. Ut ut elit proident fugiat. Ad deserunt et consequat
                            aliquip nisi ut dolore sit ut veniam fugiat culpa nulla. Consequat eiusmod ad deserunt ad
                            sunt adipisicing deserunt nulla est cupidatat commodo do. Minim aliquip dolor in deserunt
                            elit officia. Anim duis ullamco cillum nulla voluptate dolore velit ad Lorem adipisicing.
                        </p>
                        <br>
                        <h1>R${{produto.preco}}</h1>
                        <p>
                            <button class="btn btn-lg btn-danger mb-3 mb-xl-0 me-2">
                                <i class="bi-cart"></i> Adicionar ao Carrinho
                            </button>
                            <button class="btn btn-lg btn-outline-danger">
                                <i class="bi-heart"></i> Adicionar aos Favoritos
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </main>

        {% endblock %}