{% extends "base.html" %}
{% block conteudo %}

        <main class="flex-fill">
            <div class="container">
                <h1>Quem Somos</h1>
                <hr>
                <p>
                    FoundTech é uma loja virtual (e-commerce) Criada com o proposito de ser uma loja simples" disponibilizado gratuitamente pelo Prof. Ricardo Maroquio em seu canal no YouTube.
                </p>
                <p>
                   
                </p>
                <p>
                    Bons estudos e boa programação!
                </p>
            </div>
        </main>

        {% endblock %}